version: 2.1

workflows:
  pull-request-workflow:
    jobs:
      - pull-request-check:
          filters:
            branches:
              ignore:
                - main
                - ^0\.\d+

  main-branch-workflow:
    jobs:
      - main-branch-check:
          filters:
            branches:
              only:
                - main
                - ^0\.\d+

jobs:
  pull-request-check:
    machine:
      image: ubuntu-2204:2025.09.1
    resource_class: large
    steps:
      - checkout
      - restore_cache:
          keys:
            - fork-cache-{{ checksum "CMakeLists.txt" }}-{{ checksum ".circleci/fresh_ci_cache.commit" }}
      - run:
          name: prepare_env_and_create_swap_file
          command: |
            sudo apt update
            sudo apt install -y gfortran python3-dev libomp-15-dev gcc make cmake g++ lcov libaio-dev libcurl4-openssl-dev ninja-build 
            sudo apt-get install -y libopenblas-dev
            sudo dd if=/dev/zero of=.swapfile bs=2M count=2048
            sudo chmod 600 .swapfile
            sudo mkswap .swapfile
            sudo swapon .swapfile
      - run:
          command: export CMAKE_GENERATOR="Ninja" && export VSAG_ENABLE_INTEL_MKL=OFF && export COMPILE_JOBS=4 && make test_parallel
          no_output_timeout: 50m
      - run:
          name: remove_swap_file
          command: |
            sudo swapoff .swapfile
            sudo rm .swapfile
      - save_cache:
          key: fork-cache-{{ checksum "CMakeLists.txt" }}-{{ checksum ".circleci/fresh_ci_cache.commit" }}
          paths:
            - ./build

  main-branch-check:
    machine:
      image: ubuntu-2204:2025.09.1
    resource_class: large
    steps:
      - checkout
      - restore_cache:
          keys:
            - main-cache-{{ checksum "CMakeLists.txt" }}-{{ checksum ".circleci/fresh_ci_cache.commit" }}
      - run:
          name: prepare_env_and_create_swap_file
          command: |
            sudo apt update
            sudo apt install -y gfortran python3-dev libomp-15-dev gcc make cmake g++ lcov libaio-dev libcurl4-openssl-dev ninja-build 
            sudo apt-get install -y libopenblas-dev
            sudo dd if=/dev/zero of=.swapfile bs=2M count=2048
            sudo chmod 600 .swapfile
            sudo mkswap .swapfile
            sudo swapon .swapfile
      - run:
          command: export CMAKE_GENERATOR="Ninja" && export VSAG_ENABLE_INTEL_MKL=OFF && export COMPILE_JOBS=4 && make test_parallel
          no_output_timeout: 50m
      - run:
          name: remove_swap_file
          command: |
            sudo swapoff .swapfile
            sudo rm .swapfile
      - save_cache:
          key: main-cache-{{ checksum "CMakeLists.txt" }}-{{ checksum ".circleci/fresh_ci_cache.commit" }}
          paths:
            - ./build
